{% extends 'polls/base.html' %}
{% block main_content %}
{% load staticfiles %}
<div id="container">

    {% if latestQuestions %}

    {% for question in latestQuestions %}

    <a id="myBtn" href="/polls/{{question.id}}" class="btn btn-primary"><b>{{question.question_text}}</b>
        <b>{{question.id}}</b>

        <div class="view overlay">
            <img src="{% static 'assets/images/eric.jpg'%}" alt="" height="100px">
               <div class="mask flex-center rgba-red-strong">
                <p class="white-text">{{question.question_text}}</p>
            </div>
        </div>


    </a>


    {% endfor %}
    {% else %}

    <h4>no questions</h4>
    {% endif %}

</div>


{% endblock %}


